* {
  box-sizing: border-box;
}
body{

  background-image: url("HomePageBG.png");
  font-family: 'Forum', cursive;
}

header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
img{
  width: 58%;
  min-width: 300px;
}

main{
  text-align: center;


}
h1{
  color: #6a2d3f;
  font-size: 50px;
  margin-bottom: 0;

}
fieldset{
  border: none;
}
h2{
  margin-top: 0;
  color: #E0D7D5;
  font-size: 26px;
  margin-top: 10px;
}

.search-title{
  display: inline;
  margin-right: 15px;
}

.start{
  font-family: 'Questrial', sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #994964;
  border-color:#994964;
  color: white;
  font-size: 28px;
  border-radius: 4px;
  outline-width: 0;
  width: 15%;
}
.js-search{
  min-width: 130px;
}
.start:hover{
  background-color: #E91689;
  border-color: #E91689;
}

.js-search-button{
  font-family: 'Questrial', sans-serif;
  padding: 0;
  background-color: #E91689;
  border-color: #E91689;
  height: 40px;
  width: 90px;
  outline-width: 0;
  margin-left: -8px;
  color: white;
}
