* {
  box-sizing: border-box;
}
body{
  height: 98%;
  background-image: url("Viknow_backgroundOne.png");
  font-family: 'Forum', cursive;
}
header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
main{
  text-align: center;
}
h1{
  color: #E0D7D5;
  font-size: 50px;
  margin-bottom: 0;
}


fieldset{
  border: none;
}
h2{
  margin-top: 0;
  color: #E0D7D5;
  font-size: 26px;
  margin-top: 10px;
}
h3{
  font-family: 'Questrial', sans-serif;
  color: #E0D7D5;
}

.searched-here{
  display: inline-block;
  text-align: center;
}
.search-title{
  display: inline;
  margin-right: 15px;
}
label{
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

button{
  font-family: 'Questrial', sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #994964;
  border-color:#994964;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  outline-width: 0;
  width: 15%;

}
.js-search{
  min-width: 160px;
}
button:hover{
  background-color: #E91689;
  border-color: #E91689;
}

.js-search-button{
  font-family: 'Questrial', sans-serif;
  padding: 0;
  background-color: #E91689;
  border-color: #E91689;
  height: 40px;
  width: 90px;
  outline-width: 0;
  margin-left: -8px;
  color: white;
}
.js-search-again{
  font-family: 'Questrial', sans-serif;
  padding: 0;
  background-color: #E91689;
  border-color: #E91689;
  height: 40px;
  width: 140px;
  outline-width: 0;
  color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.js-search-button:hover{
  background-color: #E91689;
  border-color: #E91689;
}
.js-otherLocation{
  border: 3px solid #431c2a;
  background-color:#431c2a;
  height: 40px;
  max-width: 230px;
  min-width: 140px;
  border-radius: 4px;
  outline-width: 0;
  padding-left: 15px;
  color: white;
}
::placeholder{
  color: #E0D7D5;
}

.selected{
  background-color: #E91689;
  border-color: #E91689;
}
.errorMsg{
  font-size: 40px;
}
.rangeBar{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#textInput{
  width: 30px;
  text-align:center;
  border:none;
}

.hidden{
  visibility: hidden;
}

#map{
height: 550px;
}

.js-options{
  height: 550px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
display: none;
}
.whereSearched{
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}
.js-returned{
  font-family: 'Questrial', sans-serif;
  background-color: #994964;
  color: white;
  border: none;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 1px solid #783a4f;
  border-radius: 3px;
  max-width: 260px;
}


div.js-returned{
  display: inline-block;
  text-align: center;
}
div.js-returned:hover{
  background-color: #E91689;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
@media only screen and (max-width: 960px) {

   body {
      font-size:12px ;
   }

   h2{
     font-size: 16px;
   }
   h3{
     font-size: 14px;
   }
   button{
     font-size: 16px;
   }
}
